[Desktop Entry]
Type=Application
Name=Linkmm
Comment=Link-based mod manager for Bethesda games
Exec=linkmm %u
Icon=applications-games-symbolic
Terminal=false
Categories=Game;Utility;
MimeType=x-scheme-handler/nxm;
StartupNotify=true
